producto {
  display:block;
}
producto .picture{
  background-color:#eee;
  display:inline-block;
  width:300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

producto .padded{
  padding:20px;
  border: 1px solid #ddd;
  width:100%;
}

producto h1{
  margin: 0;
  font-size: 2em;
  font-weight: bolder;
}
